SoftwareTechnoligies/DataBases/14. XML/XML/06. Students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="sex" type="xs:string" />
              <xs:element name="BirthDate" type="xs:date" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="Course" type="xs:string" />
              <xs:element name="Speciality" type="xs:string" />
              <xs:element name="FacultyNumber" type="xs:string" />
              <xs:element name="Exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="Tutor" type="xs:string" />
                          <xs:element name="Score" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Enrollment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Date" type="xs:date" />
                    <xs:element name="Tutor" type="xs:string" />
                    <xs:element name="Score" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>